.container {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  margin-bottom: 5px !important;
  width: 50%;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .cell {
    width: 100%;
  }
}
