.container {
  --content-size: 680px;
  --content-padding: 15px;
  --section-padding: 50px;
}

.main {
  background-color: #ffffff;
  color: #171c1e;
  flex: 1;
}

.content {
  max-width: var(--content-size);
  padding: 0 var(--content-padding);
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.content section {
  padding-top: var(--section-padding);
}
.content section:last-child {
  padding-bottom: var(--section-padding);
}
.content section h2 {
  font-size: 20px;
}
.content section h3,
.content section h4 {
  font-size: 14px;
}
.content section h4 {
  font-weight: 400;
}
.content section h2,
.content section h3,
.content section h4 {
  margin-bottom: 5px;
}
.content section p {
  font-size: 14px;
  line-height: 25px;
}
.content section p:not(:last-child) {
  margin-bottom: 15px;
}

.content section ul {
  list-style-position: inside;
  margin-left: 30px;
}
.content section ul:not(:last-child) {
  margin-bottom: 15px;
}
.content section li {
  font-size: 13px;
  line-height: 22px;
}
.content section li:not(:last-child) {
  margin-bottom: 5px;
}

@media print {
  .container {
    --content-size: 750px;
    --section-padding: 30px;
  }

  .content section h2 {
    font-size: 18px;
  }

  .content section p:not(:last-child) {
    margin-bottom: 8px;
  }
}
