.container {
  background: var(--colors-bg);
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  z-index: 2;
  padding: 20px 0;
  text-align: center;
}
.headerContent {
  padding: 0 var(--content-padding);
  width: var(--content-size);
  max-width: 100%;
  margin: 0 auto;
}

.avatar {
  border-radius: 100%;
}

.nameAndBio {
  display: flex;
  flex-direction: column;
}
.name {
  margin: 5px 0;
  font-size: 26px;
  letter-spacing: -0.1px;
  opacity: 0.95;
}
.bio {
  letter-spacing: 1.6px;
  font-size: 12px;
  font-weight: 200;
  opacity: 0.7;
}

.footer {
  position: relative;
  z-index: 2;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 0px;
}
.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 var(--content-padding);
  width: var(--content-size);
  max-width: 100%;
  margin: 0 auto;
}
.footerItem {
  display: flex;
  flex-direction: row;
  padding: 3px 15px;
  font-size: 12px;
  opacity: 0.7;
}
.footerItem img {
  margin-right: 8px;
}
.footerItem a {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
  }
}

@media print {
  .content {
    flex-direction: row;
    justify-content: space-between;
    max-width: var(--content-size);
    padding: 0 var(--content-padding);
    margin: 0 auto;
  }

  .header {
    text-align: initial;
  }
  .headerContent {
    display: flex;
    align-items: center;
    width: auto;
    padding: 0;
  }

  .nameAndBio {
    margin-left: 15px;
  }
  .name {
    margin: 0 0 5px;
    font-size: 22px;
  }

  .footer {
    display: flex;
    align-items: center;
  }
  .footerContent {
    flex-direction: column;
    width: auto;
    padding: 0;
    border: none;
  }
  .footerItem {
    padding: 3px 0;
  }
}
